* {
    font-family: sans-serif; /* Change your font family */
  }
  
  .content-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    min-width: 600px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  }
  
  .content-table thead tr {
    background-color: rgb(56, 56, 56);
    color: #ffffff;
    text-align: left;
    font-weight: bold;
  }
  
  .content-table th,
  .content-table td {
    padding: 12px 15px;
  }
  
  .content-table tbody tr {
    border-bottom: 1px solid #0b0b0b;
    text-align: center;
  }
  
  .content-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
  }
  
  .content-table tbody tr:last-of-type {
    border-bottom: 2px solid #226379;
  }
  
  .content-table tbody tr.active-row {
    font-weight: bold;
    color: #901382;
  }
  
  .Principal{
    background:#7b809e;
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
  }

  .Princ{
    background:#7b809e;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
  }