<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EscogerInicio</title>
    <link rel="stylesheet" href="/stylesheets/estilos.css">

</head>

<body>
    <div class="clientes">
        <form method ="get" action = 'http://localhost:3000/registroCliente'>
            <input type="image" src="/Imagenes/cliente.png" width="500" height="500"/> 
        </form>
    </div>

    <div class="trabajador">
        <form method ="get" action = 'http://localhost:3000/registroTrabajador'>
            <input type="image" src="/Imagenes/trabajador.png" width="500" height="500"/> 
        </form>
    </div>


    
</body>
</html>