<!DOCTYPE html>
<html lang="Es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InicioPagina</title>
    <link rel="stylesheet" href="/stylesheets/main.css">
</head>
<body>
<div class="ini"> 
    <h1>Bienvenidos a Mande</h1>

        <h5 id="textIni1"> Mande es un software a la comunidad que brinda servicios para 
            la solicitud y respuestas inmediatas de trabajos, ¿Tienes una 
            habilidad que puede monetizarse y ser de servicio para otra persona? 
            posteala con nosotros y espera que un cliente te contecte. 
            ¿Tienes un trabajo por realizar y no encuentras quien lo ejecute?</h5>

    <h3 id="textIni2">
        Puedes registrarte y encontrar el trabajador y el servicio de tu selección cerca de ti, eres libre de escoger el método de pago al monto solicitado. 

    </h3>
</div>

<div class="btn">

    <form method ="get" action = 'http://localhost:3000/iniciarSesion'>
        <button id="inicio" type="submit" > Iniciar Sesión </button>
    </form>
    
</div>

<div class="btn1"> <a href = 'http://localhost:3000/registro'> 
       <button id="registro">Registrarse </button> </a>

</div>

</div>
</body>
</html>