<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/registro.css">
</head>
<body>
    <div class="signupFrm">
        <form method= "POST" class="form">
          <h1 class="title">Registrate</h1>
    
          <div class="inputContainer">
            <input type="text" class="input" name = "nombre" placeholder="Ej: Gabriel">
            <label for="" class="label">Nombre</label>
          </div>
          
          <div class="inputContainer">
            <input type="text" class="input" name = "apellido" placeholder="Ej: Gonzales">
            <label for="" class="label">Apellido</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" name = "email" placeholder="Ej: gago@gmail.com">
            <label for="" class="label">Email</label>
          </div>
    
          <div class="inputContainer">
            <input type="text" class="input" name = "telefono" placeholder="Ej: 3145874520 ">
            <label for="" class="label">Telefono</label>
          </div>

          <div class="inputContainer">
            <input type="text" class="input" name = "cedula" placeholder="Ej: 1002458732">
            <label for="" class="label">Cédula</label>
          </div>

          <div class="inputContainer">
            <input type="text" class="input" name = "contraseña" placeholder="******">
            <label for="" class="label">Contraseña</label>
          </div>

          <div class="inputContainer">
            <input type="text" class="input" name = "direccion" placeholder="Ej: Calle 35A#21-32">
            <label for="" class="label">Dirección de vivienda</label>
          </div>

          <div class="inputContainer">
            <input type="text" class="input" name = "coordenadas" placeholder="Ej: POINT(coordenada, coordenada)">
            <label for="" class="label">Coordenadas</label>
          </div>

          <div class="inputContainer">
            <input type="text" class="input" name = "ciudad" placeholder="Ej: Cali">
            <label for="" class="label">Ciudad</label>
          </div>

          <div class="inputContainer">
          <input type="file" class="submitBtn" name = "imagen" name="imagen1" />
        </div>

          <div class="inputContainer">
           
            <select class="seleccionar" name="medio_pago" id="medio_pago" class="form-control">
              <option value="credito">Credito</option>
              <option value="debito">Debito</option>
            </select>

            <label for="" class="label">Medio de pago</label>
          </div>
    
          <input type="submit" class="submitBtn" value="Registrar">
        </form>
      </div>

</body>
</html>